:root {
    --wallpaper-background: {background};
    --wallpaper-foreground: {foreground};
    --wallpaper-color0: {color0};
    --wallpaper-color1: {color1};
    --wallpaper-color2: {color2};
    --wallpaper-color3: {color3};
    --wallpaper-color4: {color4};
    --wallpaper-color5: {color5};
    --wallpaper-color6: {color6};
    --wallpaper-color7: {color7};
    --wallpaper-color8: {color8};
    --wallpaper-color9: {color9};
    --wallpaper-color10: {color10};
    --wallpaper-color11: {color11};
    --wallpaper-color12: {color12};
    --wallpaper-color13: {color13};
    --wallpaper-color14: {color14};
    --wallpaper-color15: {color15};
}

